* {
    font-family: 'Special Elite', cursive;
}

body {
    color: white;
    background-image: linear-gradient(to right, #FB654E, #FA2302, #FB654E);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

h1,
h2 {
    text-align: center;
    letter-spacing: 4px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.laCasa {
    text-shadow: 10px 5px 20px black;
    font-size: 3.5vw;
    word-spacing: 15px;
    margin-bottom: 5px;
}

.slogan {
    text-shadow: 10px 5px 10px black;
    font-size: 1.6vw;
    margin-top: 5px;
    word-spacing: 10px;
}

p {
    font-size: 1.3vw;
}

#logo1 {
    width: 10vw;
    margin-right: 50px;
    padding: 10px;
    background-image: radial-gradient(white, red);
}

.menu {
    display: flex;
    align-items: center;
    padding: 20px;
}

.menu li {
    display: inline-block;
    padding: 10px;
}

.btn-hover {
    transition: all .8s;
}

.btn-hover:hover {
    transform: scale(1.3);
}

#photo-fundo {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 10px 15px 25px white;
}

.photos {
    width: 32.95vw;
    height: 24vw;
}

.titulos {
    font-size: 2vw;
}

#historia {
    width: 75%;
    text-align: center;
    padding: 80px;
}

#more {
    display: none;
}

.responsivo {
    display: none;
}

/* Início Código Novo */

.column {
    display: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background: transparent;
    border-radius: 20px;
    width: 35vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: all .8s;
    padding: 20px;
}

.content:hover {
    box-shadow: 10px 10px 50px white;
    transform: scale(1.1);
}

.show {
    display: block;
}

.bts {
    background-color: #FA2302;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 8px 10px 20px black;
    font-size: 1.2vw;
    cursor: pointer;
}

.bts:hover {
    background-color: black;
}

.bts.active {
    background-color: #666;
    color: white;
}

ul {
    list-style: none;
}

.lista-btn {
    display: flex;
    flex-direction: column;
    width: 15vw;
    padding: 0;
}

.lista-dogs {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all .8s;
    width: 35vw;
    padding: 20px;

}

.lista-dogs:hover {
    box-shadow: 10px 10px 50px white;
    transform: scale(1.1);
}

.slides {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    margin: 50px;
}

.ingredientes {
    text-align: center;
}

.button-add {
    padding: 7px 20px;
    margin: 10px;
    font-size: 2.8vh;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    color: white;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.button-add::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: black;
    border-radius: 8px;
    transition: all .8s ease;
}

.button-add:hover:before {
    width: 100%;
}

/* Fim Código Novo */

.lista-dogs li {
    list-style: none;
    padding: 9px;
    display: inline-block;
}

footer {
    background: transparent;
    width: 80%;
    border: 1px solid white;
    border-radius: 8px;
    margin-bottom: 50px;
    transition: all .8s;
}

footer:hover {
    box-shadow: 10px 10px 30px white;
}

.mapa iframe {
    width: 100%;
    height: 400px;
}

.contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.contatos img {
    width: 40px;
    margin: 10px;
    transition: all .5s;
    padding: 3px;
}

.contatos img:hover {
    transform: scale(1.3);
    background-color: #444;
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {

    #logo1 {
        width: 15vw;
    }

    .bts {
        padding: 6px 8px;
        border-radius: 7px;
        font-size: 2.6vh;
    }


    #cachorro_quente {
        display: none;
    }

    /* Slide Smartphone Inicio */

    .responsivo {
        display: grid;
        
    }

    .responsivo ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    .cartao {
        margin: auto;
        width: 80vw;
    }

    img {
        display: block;
        max-width: 100%;
    }

    .slide-wrapper {
        overflow: hidden;
    }

    .slide {
        display: flex;
    }

    .slide:hover {
        will-change: transform;
    }

    .slide li {
        flex-shrink: 0;
        width: 80vw;
        height: 50vw;
        max-width: 800px;
        margin: 0 20px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow:inset 0 1px 20px white;
        /* border: 2px solid white; */
        opacity: .8;
        transform: scale(.8);
        transition: .4s;
    }

    .slide li.active {
        opacity: 1;
        transform: scale(1);
    }

    [data-control="slide"] {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    [data-control="slide"] li a {
        display: block;
        width: 12px;
        height: 12px;
        background: #111;
        border-radius: 50%;
        overflow: hidden;
        text-indent: -999px;
        margin: 5px;
    }

    [data-control="slide"] li.active a,
    [data-control="slide"] li a:hover {
        background: #E54;
    }

    .custom-controls {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 20px;
        flex-wrap: wrap;

    }

    .custom-controls li {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: .8;
        transform: scale(.8);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin: 2px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
        border: 1px solid white;
        transition: .3s;
    }

    .custom-controls li.active {
        opacity: 1;
        transform: scale(1);
    }

    .arrow-nav {
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
    }

    .arrow-nav button {
        cursor: pointer;
        border: none;
        border-radius: 4px;
        color: white;
        width: 40px;
        height: 40px;
        background: #FB5 url(/imagens/assets/arrow.svg) center center no-repeat;
    }

    .arrow-nav button.prev {
        transform: rotate(180deg);
    }

    /* Cartão */

    .cartao {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 1s;
    }

    .img-card {
        width: 100%;
    }

    .btn-card {
        font-size: 3vw;
        margin: 10px;
        padding: 5px;
    }

    .card-front,
    .card-back {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 20px;
        color: black;
        font-size: 1.7vh;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .flip {
        transform: rotateY(180deg);
    }

    .card-front {
        justify-content: center;
    }

    .card-back {
        background: transparent;
        color: white;
        transform: rotateY(180deg);
        justify-content: space-around;
    }

    .card-back h2 {
        font-size: 5vw;
    }

    .ingredientes {
        text-align: center;
        font-size: 2.8vw;
        padding: 10px;
    }

    /* Slide Smartphone Fim */

    footer {
        width: 50%;
        padding: 10px;
    }

    .mapa {
        width: 90%;
        display: flex;
        margin: auto;
        border: 5px solid black;
        box-shadow: 0 10px 25px black;
    }
}

@media only screen and (max-width: 426px) {
    #logo1 {
        width: 15vw;
        margin-right: 50px;
        padding: 10px;
        background-image: none;
    }
    
    .laCasa {
        font-size: 4vh;
        letter-spacing: 1px;
    }

    .slogan,
    .titulos {
        font-size: 2.3vh;
        word-spacing: 3px;
        letter-spacing: 1px;
    }

    p {
        font-size: 1.6vh;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    .photos {
        width: 40%;
    }

    footer {
        width: 90%;
        padding: 10px;
    }

    .mapa {
        width: 70%;
        height: 50%;
        display: flex;
        margin: auto;
        border: 5px solid black;
        box-shadow: 0 10px 25px black;
    }

    .mapa iframe {
        height: 35vh;
    }

}